table {
  width: 100%;
  font-family: var(--primary-font-style);
  background-color: var(--primary-background);
  color: var(--secondary-font);
}

mat-paginator {
  font-family: var(--primary-font-style);
  background-color: var(--secondary-background);
  color: var(--secondary-font);
}

mat-elevation-z8 {
  border-radius: 10px;
}

th {
  background-color: var(--base);
  text-transform: uppercase;
}
td, th {
  color: var(--secondary-font);
}

/* .mat-form-field {
  font-size: 14px;
  width: 100%;
} */

@media screen and (max-width: 799px) {
  th {
    position: absolute;
    margin-left:-9999999999px;
    margin-top:-99999999999px;
  }

  td {
    color: var(--secondary-font);
  }

  .table-cell {
    display:block;
  }


  tr mat-row {
    margin: 0;
  }
  
  td mat-cell {
    /* Behave  like a "row" */
    border: none;
    position: relative;
  }

  td mat-cell:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 10px;
    right: 10px;
    white-space: text-wrap;
  }
}