<!-- <mat-form-field>
  <ng-content><input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"></ng-content>
</mat-form-field> -->
<div class="content">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource | slice: lowValue : highValue" matSort>
      <ng-container *ngFor="let col of displayColumns" matColumnDef={{col}}>
        <th mat-header-cell *matHeaderCellDef>{{col}}</th>
        <td mat-cell *matCellDef="let row"> {{row[col]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;" (click)="selectedRow(row)"></tr>
    </table>
  </div>
  <mat-paginator [length]="dataSource.length" [pageSize]="pageSize" (page)="pageEvent = getPaginatorData($event)"></mat-paginator>
</div>