<div class="navbar">
  <ul>
    <li routerLinkActive="active" routerLinkActiveOptions="{ exact: true }"> <a [routerLink]="[{ outlets: { admin: ['roles'] } }]">Roles</a></li>
    <!-- <li routerLinkActive="active" routerLinkActiveOptions="{ exact: true }"><a routerLink="[{ outlets: {admin-router: ['members']}}]">Members</a></li>
    <li routerLinkActive="active" routerLinkActiveOptions="{ exact: true }"><a routerLink="[{ outlets: {admin-router: ['forums']}}]">Forums</a></li>
    <li routerLinkActive="active" routerLinkActiveOptions="{ exact: true }"><a routerLink="[{ outlets: {admin-router: ['site']}}]">Site</a></li> -->
  </ul>
</div>
