/* import the master cs */
@import '../../../styles.css';

/*Universal Design Details for the Board Structure*/
.category__header{
    font-family: var(--secondary-font-style);
    font-size: var(--fontsize-3);
    font-weight: var(--font-weight-3);
    border-bottom: 3px solid var(--primary-border);
    text-transform: uppercase;
    margin-bottom:2px;
}

.category__board, .category__board-alt {
    background-color: var(--secondary-background);
    border-radius: 5px;
    padding: 1px;
    line-height: normal;
    margin-bottom: 10px;
}
.category__board__title{
    font-family: var(--primary-font-style);
    font-size: var(--fontsize-3);
    position:relative;
    margin-left: 10px;
    margin-top:2px;
    padding:0;
}
.category__moderator, .category__summary {
    font-family: var(--small-font-style);
    font-size: var( --fontsize-small);
    margin-left: 10px;
    margin-top:2px;
    padding:0;
}
/* Mobile Responsive Design for the Board Structure */

.category__board, .category__board-alt {
    background-image: linear-gradient(var(--secondary-background), var(--color-darker));
}
/*Desktop Design for the Board Structure*/
@media screen and (min-width: 800px) {
    .category__board, .category__board-alt {
        background-image: linear-gradient(var(--secondary-background), var(--color-brighter));
        color: var(--base);
    }
} 