<div class="category__header" (click)="triggerAccordian()">{{titleString}}</div>
<!-- structure will be tweaked for the accordion format for Mobile, I want to 
    reduce the amount of code that exists..-->
    <!-- This will be created via a ngFor loop when the time comes to do the customization of the templating.-->
    <div class="accordion__category__content" *ngIf="isClosed">
    <div class="category__board" *ngFor="let board of boardList; let i = index" (click)="navigateToBoard(i)">
        <h3 class="category__board__title">{{board.title}}</h3>
        <h4 class="category__moderator">{{board.mods}}</h4>
        <p class="category__summary">{{board.summary}}</p>
    </div>
</div>
