@import '../../../styles.css';

*,*::before,*::after {
  box-sizing:border-box;
}

.form-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height:1.6;
}

p {
  margin: 0, 0, .25em;
}

a {
  color: var(--secondary-font);
}

a:hover {
  color:inherit;
}

.title, .sub-heading{
  color:var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.create-acount > .title {
  font-size: var(--fontsize-1);
  font-weight: var(--font-weight-1);
}

.create-acount > .sub-heading {
  margin-top:0;
  font-size: var(--fontsize-2);
  font-weight: var(--font-weight-2);
}

.fineprint {
  font-size: var(--fontsize-small);
}

.registration-form {
  display: grid;
  width: 800px;
  grid-template-rows:repeat(3, auto);
  grid-template-columns: 35% minmax(300px, 500px) 3em;
  position: relative;
}

.list--unstyled {
  margin: 0;
  padding:0;
  list-style: none;
}

.list li {
  margin-bottom: 1em;
  font-size: var(--fontsize-small);
}

.button {
  all:unset;
  cursor: pointer;
  display: inline-block;
  background: var(--primary-font);
  padding: .5em 1.75em;
  border-style: solid 1px #5c6468;
  border-radius: 5px;
  transform: scale(1);
  transition: transform ease-in-out 150;
}

.button:hover {
  transform: scale(1.1);
}

.button + * {
  margin-left: 2em;
}
.create-account {
  order: 2;
  padding: 3rem;
  background-color: var(--primary-background);
  background-image: linear-gradient(rgba(0,0,0,0), var(--color-darker));
  border-radius: 5px;
  grid-row: 1 / -1;
  grid-column: 2 / 3;
}

.feloszt-offers {
  order: 1;
  grid-row: 2 / 3;
  padding: 3rem;
  grid-column: 1 / 2;
  align-self: center;
  border-radius: 5px;
}

.feloszt-offers::after {
  content:'';
  display:block;
  background-color: var(--secondary-background);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  z-index:-1;
  grid-row: 2/3;
  border-radius: 5px;
}

.register-form {
  margin: 1.5em 0 0;
}

.form__label {
  display: flex;
}

.form__text {
  display:block;
  margin: .25em 0 1em;
  background: var(--color-darker);
  color: var(--secondary-font);
  width:100%;
  padding:.75em;
}

.form__checkbox {
  margin-right: .5em;}

.form__tooltip {
  font-size: var(--fontsize-small);
  background: var(--color-darker);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  align-self:center;
  margin-left: .5em;
  position: relative;
}

.form__tooltip::after {
  content: attr(data-tooltip);
  display:none;
  position: absolute;
  padding:1em;
  background: var(--base);
  bottom: 1.5em;
  text-align: left;
  width: 300px;
  color: var(--color-brighter);
}

.form__tooltip:hover::after{
  display:block;
}
.verification {
  display: block;
  font-size: var(--fontsize-small);
  font-family: var(--small-font-style);
}

.agree-list {
  margin: 0;
  padding:0;
  list-style: none;
}
