<div class="form-body registration-form">
  <div class="create-account">
    <h1 class="title">{{loginRegisterModel.title}}</h1>
    <form [formGroup]="form" class="register-form">
      <label class="form__label" for="account">Display Name <span class="form__tooltip" data-tooltip="Please enter character's name">?</span></label>
      <input class="form__text" id="account" name="account" formControlName="accountName">
      <label class="form__label" for="password">Password <span class="form__tooltip" data-tooltip="Please enter a valid password">?</span></label>
      <input class="form__text" type="password" id="password" name="password" formControlName="password">

      <div *ngIf="loginRegisterModel.signup == true">
        <label class="form__label" for="password-confirm">Confirm Password</label>
        <input class="form__text" type="password" id="password-confirm" name="password-confirm" formControlName="passwordConfirm">
        <label class="form__label" for="email">Email <span class="form__tooltip" data-tooltip="Please enter email address">?</span></label>
        <input class="form__text" type="email" id="email" name="email" formControlName="email">
        <label class="form__label" for="email-confirm">Confirm Email</label>
        <input class="form__text" type="email" id="email-confirm" name="email" formControlName="emailConfirm">
        <p class="fineprint"> I agree:</p>
        <ul class="agree-list fineprint">
          <li><input class="form__checkbox" type="checkbox" id="age-agreement" name="age-agreement" formControlName="ageValidation">
            <label for="age-agreement">13 years old or older</label></li>
          <li><input class="form__checkbox" type="checkbox" id="tos-agreement" name="tos-agreement" formControlName="tosAgreement">
            <label for="tos-agreement">To the Terms of Service</label></li>
          <li><input class="form__checkbox" type="checkbox" id="cman-agreement" name="cman-agreement" formControlName="creativeAgreement">
            <label for="cman-agreement">abide by the Creative Manifesto</label></li>
        </ul>
        <p class="verification">Will add in the recaptcha verification.</p>
      </div>
      <button class="button" (click)="login()">{{loginRegisterModel.buttonText}}</button>
      <div *ngIf="loginRegisterModel.signup == true">
        <a class="fineprint" (click)="haveAccount()">Already have account?</a>
      </div>
    </form>
  </div>
  <div class="feloszt-offers" *ngIf="!form.valid && loginRegisterModel.errorMessages.length > 0">
    <h2 class="sub-heading">ERRORS</h2>
    <ul class="list list--unstyled">
      <li *ngFor="let error of loginRegisterModel.errorMessages"> {{error}}</li>
    </ul>
  </div>
</div>
