<header>
  <app-nav-bar [imageSource]="onResize()" [player]="player" [changed]="navChange"></app-nav-bar>
</header>

<div class="content"><router-outlet></router-outlet>

  <app-post-editor></app-post-editor>
</div>
