<p>*** JUST A NOTE, THESE TITLES ARE 100% CHANGEABLE, THIS IS JUST FOR TESTING AND P.O.C. PURPOSES.</p>
<div><app-category *ngFor="let category of forumModel.categories" [title]="category.name" [url]="category.url"></app-category>
</div>
