  <form [formGroup]="form">
  <h1>Create Role</h1>
    <input mat-radio-button type="radio" formControlName="roleType" [value]="'Primary'">Primary Role
    <input mat-radio-button type="radio" formControlName="roleType" [value]="'Secondary'">Secondary Role
  <div mat-dialog-content formGroupName="roleDetails">
      <div><label for="name">Role Name</label>
      <input matInput type="text" formControlName="name" placeholder="Enter role name" required></div>
      <div><label for="name">Role Description</label>
        <textarea matInput formControlName="description" placeholder="Enter role description"></textarea></div>
      </div>
  <div [hidden]="!form.valid">
    <h2>Select Posting Permissions</h2>
    <h4>Permissions that the player has for their OWN posts.</h4>
      <div mat-dialog-content formGroupName="rolePermissions" >
        <input mat-checkbox type="checkbox" formControlName="isReadAccess">Read Access
        <input mat-checkbox type="checkbox" formControlName="isWriteAccess">Write Access
        <input mat-checkbox type="checkbox" formControlName="isEditAccess">Edit Access
        <input mat-checkbox type="checkbox" formControlName="isDeleteAccess">Delete Access
    </div>
  </div>
  <div *ngIf="requiresModPerms() === true">
    <h2>ModeratorPermissions</h2>
    <h4>Permissions that a moderate has for posts/accesses/etc.</h4>
    <p>Need to add perms for this</p>
  </div>
  <div mat-dialog-actions>
  <button mat-button class="btn btn-success" (click)="saveRole()"   [disabled]="!form.valid">Submit</button>
    <button mat-button class="btn" (click)="closeModal()" >Cancel</button>
  </div>
</form>
