<nav>
    <ul>
        <li routerLinkActive="['active']"> <a routerLink="roles">Roles</a></li>
        <li routerLinkActive="['active']" routerLinkActiveOptions="{ exact: true }"><a routerLink="members">Members</a></li>
        <li routerLinkActive="['active']" routerLinkActiveOptions="{ exact: true }"><a routerLink="forums">Forums</a></li>
        <li routerLinkActive="['active']" routerLinkActiveOptions="{ exact: true }"><a routerLink="site">Site</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>