<h1>{{player.userName}}</h1>

<section class = "tagged__in"><h2>Tagged</h2>This section will contain all threads in which a player was tagged in since last login</section>
<section class = "racial__details"><h2>Race</h2>This section will contain all important threads/posts related to the character's race</section>

