.post-body {
    background-color: white;
    color: black;
    width: 500px;
    height: 250px;
}
.control-panel {
    all: unset;
    grid-column: 1/-1;
    display:flex;
    align-items: center;
}
.control-panel ul {
    margin: 0;
    padding:0;
    list-style: none;
}
      
.control-panel li {
    /* margin: 1em;
    margin-left: 1em;     */
    display: inline-block;
}