<div id="control-panel" class="control-panel">
  <ul>
    <li *ngFor="let control of model.controls; let i = index"><span *ngIf="control['type'] === 'button'"><button (click)="onClickButtonCommand(control)">{{control['innerHTML']}}</button></span></li>
  </ul>
</div>
<div id="post-body" class="post-body" [attr.contenteditable]="model.editable" [(contenteditableModel)]="model.postBody" [contenteditableHtml]="model.allowHTML">Post Written Here.
</div>
<h2>Preview</h2>
<pre [innerHTML]="model.postBody"></pre>