<div>This page of the forum exists so that we can have a lovely way to update and manipulate roles, forums, categories, medlas, etc. Things here can be done to allow us control to the site.

1. Permissions
2. Groups
3. Topic Creation
4. Forum Creation
5. Site Themes (far in the future enhancement)
</div>


<h2>Wants</h2>
-A way to see reported posts
-Quick Link list for Q&A/ Help desk
