<h2>Permissions</h2>
- This is where we can setup permissions for individuals or groups, things like:
read, write, delete. - This is where we can setup requirements for things like:
retiring of characters, wiki permissions (will get to this as well)

<h2>Groups</h2>
- These are the 'roles' we declared before, commonly seen as moderators,
administrators, founders, players, etc.

<button class="button-confirmation" (click)="createRole()">Create Role</button>

<div *ngIf="roles">
  <div *ngFor="let data of roles">
      {{ data.Name}}
  </div>
</div>
