@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Merriweather|Lora|Arimo";

:root {
  --base: #0b132b;
  --primary-background: #176270;
  --secondary-background: #0c7489;
  --primary-font:#85948d;
  --secondary-font: #e0dfd5;
  --primary-border: #5c6468;
  --height: 3em;
  --primary-font-style: "Lora";
  --secondary-font-style: "Merriweather";
  --small-font-style:"Arimo";
  --fontsize-1: 1.125rem;
  --fontsize-2: 1.25rem;
  --fontsize-3: 1.2rem;
  --fontsize-small: .75rem;
  --font-weight-1: 300;
  --font-weight-2: 700;
  --font-weight-3: 900;
  --color-darker:rgba(0,0,0,.5);
  --color-brighter:rgba(255,255,255,.8);
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
  position: fixed;
  top:0;
  left:0;
  z-index:9000;
}

body {
  background-color:var(--base);
  color: var(--secondary-font);
  font-family: var(--primary-font-style);
}

.content {
  margin-top: 275px;
}

body h2 {
  color: var(--primary-font);
}

.logo {
  margin:0;
  color: var(--primary-font);
}

.button-confirmation {
  color: var(--secondary-font);
  border-color: var(--secondary-font);
  background: var(--secondary-background);
  border-radius: 5px;
  font-size: 1em;
  border-style: inset;
}
/* NAVIGATION SETUP FOR MOBILE DEVICES START HERE */

.header {
  /* background: var(--primary-background); */
  text-align:center;
  position:fixed;
  width: 100%;
  z-index:9000;
}

.nav-toggle {
  display: none;
}

.admin-nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top:0;
  left:0;
  margin-left:1em;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top:-25px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display:block;
  background:var(--secondary-font);
  height: 2px;
  width:2em;
  border-radius:2px;
  position: relative;
}

/* hamburger */
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}
/* hamburger */

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  margin-top:-15px;
  left:0;
  background: var(--primary-background);
  width:100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}

nav li {
  margin: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--secondary-font);
  font-size: var(--fontsize-1);
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--primary-font);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.menu-sub {
  position: absolute;
  background:var(--secondary-background);
  width: 100%;
  display: none;
}

.admin-nav-toggle {
  display:inline;
}
.admin-nav-toggle:focus ~ .menu-sub {
  transform: scale(1,1);
  display:block;
  left:0;
  padding-left:1em;
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.banner {
  background-color:var(--base);
}

/* Desktop CSS Formatting for Nav Bar */
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  .admin-nav-toggle {
    display:none;
  }

  body .content {
    margin-top:2.15em;
    margin-left:25px;
    padding-top: 75px;
  }
  .header {
    position:fixed;
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    top: -.75em;
  }

  .logo {
    grid-column: 2/span 2;
  }

  nav {
    all: unset;
    background:var(--primary-background);
    grid-column: 1/-1;
    display:flex;
    /* justify-content: flex-end; */
    align-items: center;
  }

  nav ul {
    display:flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--base);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

  .menu-sub {
    position: absolute;
    background:var(--secondary-background);
    display: none;
  }

  .menu-sub a::before {
    all:unset;
  }

  nav li:hover .menu-sub {
    display:flex;
  }

  .menu-sub li {
    display:flex;
  }
  .banner {
    width: 135%;
    height: 100%;
    width: auto\9; /* ie8 */
  }
}
