<img [src]="imageSource" class="banner">
<div class="header">
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li routerLinkActive="['active']"><a routerLink="/">Forums</a></li>
      <li routerLinkActive="['active']"><a routerLink="inbox">Inbox</a></li>
      <li routerLinkActive="['active']"><a routerLink="profile">Profile <span *ngIf="playerLoggedIn()">({{player.userName}})</span></a></li>
      <li *ngIf="getIsAdmin()" routerLinkActive="['active']"><a routerLink="admin">Admin</a>
        <button class="admin-nav-toggle">(open)</button>
      </li>
      <li *ngIf="!service.checkIfPlayerIsLoggedIn()"><a routerLink="login">Login/Register</a></li>
      <li *ngIf="service.checkIfPlayerIsLoggedIn()"><a (click)="logout()">Log Out</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</div>
